[Unit]
Description=Blinker

[Service]
ExecStart=/home/azimut/.dotfiles/blinker/blink.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
